<div class="proyect__container">
  <h2 class="proyect__title">Proyectos:</h2>
  <br />
  <img
    class="img-agregar"
    src="../../../assets/img/plus.png"
    alt="agregar"
    routerLink="/newProyect"
    *ngIf="isLogged"
  />
  
  <div class="proyect" *ngFor="let proyect of proyectos">
    <div class="title-proyect-container">
      <h4>{{proyect.tituloProyect}}:</h4>
      <img
        routerLink="/editProyect/{{ proyect.idProy }}"
        class="img-action"
        src="../../../assets/img/editar.png" 
        alt="editar"
        *ngIf="isLogged"
      />
      <img
        class="img-action"
        src="../../../assets/img/trash.png"
        alt="eliminar"
        *ngIf="isLogged"
        (click)="deleteExp(proyect.idProy)"
      />
    </div>
    
    <img
        src={{proyect.imgProyect}}
        alt="img_proyecto"
        class="img__proyecto"
    />
    <br>
    <a href={{proyect.urlProyecto}} target="_blank">Ir al repo...</a>
    <p>
      {{proyect.descripcionProyect}}
    </p>
  </div>
</div>
