<div class="proyect__container">
    <h2 class="proyect__title">Proyectos:</h2>
    <br>
    <h4>Proyecto 1:</h4>
    <a href=""><img src="../../../assets/img/img_banner.jpg" alt="" class="img__proyecto"></a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.</p>
    <h4>Proyecto 2:</h4>
    <a href=""><img src="../../../assets/img/img_banner.jpg" alt="" class="img__proyecto"></a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.</p>
    <h4>Proyecto 3:</h4>
    <a href=""><img src="../../../assets/img/img_banner.jpg" alt="" class="img__proyecto"></a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.
    </p>
</div>