<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/J-removebg.png" alt="Logo" class="logo-nav">
        </a>
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#sobre-mi">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tecnologias">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#educacion">Educación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" (click)="login()" *ngIf="!isLogged">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" (click)="onLogOut()" *ngIf="isLogged">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>