<section class="hero align-items-stretch">
  <div
    class="hero-principal d-flex flex-column justify-content-center align-items-center"
  >
    <i
      class="bi bi-pencil-square"
      routerLink="/editAcercaDe/{{ persona.id }}"
      *ngIf="isLogged"
    ></i>
    <img
      src="../../../assets/img/mi_foto.png"
      alt="foto"
      class="img-hero rounded-circle"
    />
    <h1>
      Hola soy {{persona.nombre}} {{persona.apellido}}
    </h1>
    <h2>{{persona.profesion}}</h2>
  </div>
  <div class="hero-inferior">
    <img
      src="../../../assets/img/img-programador-desk.png"
      alt="imagen-hero-inferior"
      class="img-inferior-hero img-fluid"
    />
  </div>
</section>
<section class="seccion-oscura sobre-mi" id="sobre-mi">
  <div class="contenedor">
    <h2 class="seccion-titulo texto-blanco">Acerca de mí</h2>
    <p class="seccion-texto">
      {{persona.descripcion}}
    </p>
  </div>
</section>
