.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-principal i{
    font-size: 2rem;
    cursor: pointer;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}

.img-hero{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 20px;
    background-color: #1b1b32;
}

.img-inferior-hero{
    width: 800px;
    height: 400px;
}

.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}

@media screen and (min-width: 700px){
    .img-inferior-hero{
        max-width: 600px;
    }
}