<div class="container">
  <div class="loginBox">
    <img
      class="user"
      src="https://i.ibb.co/yVGxFPR/2.png"
      height="100px"
      width="100px"
    />
    <h3>Inicia sesión</h3>
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <div class="inputBox">
        <input id="nombreUsuario" type="text" name="nombreUsuario" placeholder="Cuenta" [(ngModel)]="nombreUsuario" required/>
        <input id="password" type="password" name="password" placeholder="Contraseña" [(ngModel)]="password" required/>
      </div>
      <input type="submit" name="" value="Login" />
    </form>
  </div>
</div>
