<div class="container" *ngIf="persona">
    <form #f="ngForm" (ngSubmit)="onUpdate()" noValidate>
        <input type="text" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
        <input type="text" placeholder="Apellido" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
        <input type="text" placeholder="Profesion" id="profesion" name="profesion" [(ngModel)]="persona.profesion" required>
        <textarea type="text" placeholder="Acerca de..." id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required></textarea>
        <label for="inputImg">Cambiar Foto</label>
        <br>
        <input id="inputImg" type="file" accept=".png, .jpg, .jepg"  (change)="cargarImagen($event)">
        <img src={{persona.img}} alt="foto-perfil">
        <br>
        <h4 *ngIf="cargando">Espere...</h4>
        <button *ngIf="!cargando" type="submit">Editar Perfil</button>
    </form>
</div>
