<div class="skills__container">
    <h6 class="title__skills">Habilidades Técnicas:</h6>
    <div class="all__skills">

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/html-5.png" alt="">
            <circle-progress [percent]="95" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'HTML5'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/css-3.png" alt="">
            <circle-progress [percent]="80" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'CSS3'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/js-logo.png" alt="">
            <circle-progress [percent]="80" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'JavaScript'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/java.png" alt="">
            <circle-progress [percent]="70" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'JAVA'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/angular-icon-logo.png" alt="">
            <circle-progress [percent]="70" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'Angular'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/react.png" alt="">
            <circle-progress [percent]="40" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'ReactJs'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/springboot-img.png" alt="">
            <circle-progress [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'SpringBoot'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/bootstrap.png" alt="">
            <circle-progress [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'Bootstrap'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/sass-icon.png" alt="">
            <circle-progress [percent]="70" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'Sass'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/mysql (1).png" alt="">
            <circle-progress [percent]="70" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'MySQL'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/sql_icon.png" alt="">
            <circle-progress [percent]="70" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'SQL'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/git-logo.png" alt="">
            <circle-progress [percent]="70" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'Git'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/github.png" alt="">
            <circle-progress [percent]="80" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'GitHub'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>

        <div class="skill">
            <div class="card__skill">
                <img src="../../../assets/img/eng.png" alt="">
            <circle-progress [percent]="60" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f00'" [innerStrokeColor]="'#000'" [animation]="true" [animationDuration]="300"
                [subtitle]="'Ingles'" [subtitleColor]="'#fff'" [subtitleFontSize]="'20'" [titleFontSize]="'30'"
                [titleColor]="'#fff'" [unitsColor]="'#fff'" [unitsFontSize]="'30'"></circle-progress>
            </div>
        </div>
    </div>
    <h6 class="title__skills">Habilidades Blandas:</h6>
    <ul>
        <li>Autodidacta.</li><br>
        <li>Responsable.</li><br>
        <li>Trabajo en equipo.</li><br>
        <li>Adaptabilidad.</li><br>
    </ul>
</div>