.skills__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: rgba(5, 7, 12, .7);
    border-radius: 30px;
    box-shadow: 0 0 10px 10px rgb(85, 17, 17);
    width: 90vw;
}

.all__skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

img{
    width: 50px;
    height: 50px;
}

.card__skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

h6{
    margin: 20px;
}

li{
    text-align: start;
    list-style: none;
}

.img-agregar{
    width:30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 20px;
}