.skills{
    padding: 40px 40px 60px 40px;
}

.skill-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.img-skill{
    width: 100px;
    height: 100px;
    animation: rotation 8s infinite linear;
}

.columna{
    padding: 40px;
}

.skills .columna{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

@keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  
  
  
  