<div class="skills__container">
    <h2 class="title__skills">Habilidades Técnicas:</h2>
    <div class="container pb-4">
        <div class="row">
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/html-5.png" alt="html-logo" class="img__tech">
                <div class="progress noventa">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
                <h4>HTML5</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/css-3.png" alt="css-logo" class="img__tech">
                <div class="progress ochenta">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">80%</div>
                </div>
                <h4>CSS3</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/js-logo.png" alt="js-logo" class="img__tech">
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">80%</div>
                </div>
                <h4>JavaScript</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/java.png" alt="java-logo" class="img__tech">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">70%</div>
                </div>
                <h4>JAVA</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/springboot-img.png" alt="springboot-logo" class="img__tech">
                <div class="progress red">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">60%</div>
                </div>
                <h4>SpringBoot</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/angular-icon-logo.png" alt="angular-logo" class="img__tech">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">70%</div>
                </div>
                <h4>Angular</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/react.png" alt="react-logo" class="img__tech">
                <div class="progress purple">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">40%</div>
                </div>
                <h4>ReactJS</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/bootstrap.png" alt="bootstrap-logo" class="img__tech">
                <div class="progress black">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">50%</div>
                </div>
                <h4>Bootstrap</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/mysql.png" alt="mysql-logo" class="img__tech">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">70%</div>
                </div>
                <h4>MySql</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/sql_icon.png" alt="sql-logo" class="img__tech">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">70%</div>
                </div>
                <h4>SQL</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/git-logo.png" alt="git-logo" class="img__tech">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">70%</div>
                </div>
                <h4>Git</h4>
            </div>
            <div class="col-md-3 col-sm-6 exp__card">
                <img src="../../../assets/github.png" alt="github-logo" class="img__tech">
                <div class="progress ochenta">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">80%</div>
                </div>
                <h4>GitHub</h4>
            </div>
        </div>
        <h2 class="m-4">Habilidades Blandas:</h2>
        <ul>
            <li>Solución de problemas.</li>
            <li>Trabajo en equipo.</li>
            <li>Adaptación a los cambios.</li>
            <li>Autodidacta.</li>
            <li>Responsable.</li>
            <li>Compromiso.</li>
            <li>Honesto.</li>
        </ul>
    </div>
</div>