<div class="skills__container">
  <h4 class="title__skills">Habilidades Técnicas:</h4>
  <br>
  <img class="img-agregar" src="../../../assets/img/plus.png" alt="agregar" routerLink="/newSkill" *ngIf="isLogged"/>
  <div class="all__skills">
    <div class="skill" *ngFor="let skill of habilidad">
      <div class="card__skill">
        <img src="{{ skill.imgSkill }}" alt="img" />
        <circle-progress
          [percent]="skill.porcentaje"
          [radius]="80"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f00'"
          [innerStrokeColor]="'#000'"
          [animation]="true"
          [animationDuration]="300"
          [subtitle]="skill.tituloSkill"
          [subtitleColor]="'#fff'"
          [subtitleFontSize]="'20'"
          [titleFontSize]="'30'"
          [titleColor]="'#fff'"
          [unitsColor]="'#fff'"
          [unitsFontSize]="'30'"
        ></circle-progress>
        <img
          routerLink="/editSkill/{{ skill.idSkill }}"
          class="img-action"
          src="../../../assets/img/editar.png"
          alt="editar"
          *ngIf="isLogged"
        />
        <img
          class="img-action"
          src="../../../assets/img/trash.png"
          alt="eliminar"
          *ngIf="isLogged"
          (click)="deleteExp(skill.idSkill)"
        />
      </div>
    </div>
  </div>
</div>
