<div class="container">
    <form #f="ngForm" (ngSubmit)="onCreate()" noValidate>
        <input type="text" placeholder="Titulo" id="tituloProyect" name="tituloProyect" [(ngModel)]="tituloProyect" required>

        <input type="text" placeholder="URL del Proyecto..." id="urlProyecto" name="urlProyecto" [(ngModel)]="urlProyecto">

        <textarea placeholder="Descripcion..." id="descripcionProyect" name="descripcionProyect" [(ngModel)]="descripcionProyecto"></textarea>

        <label for="inputImg">Elegir foto</label>
        <br>
        <input id="inputImg" type="file" accept=".png, .jpg, .jepg"  (change)="cargarImagen($event)">
        <br>
        <img src={{ImgProyect}} alt="imagenProyect">
        <br>
        <h4 *ngIf="cargando">Espere...</h4>
        <button *ngIf="!cargando" type="submit">Agregar</button>
    </form>
</div>