<section id="contacto" class="contacto seccion-oscura">
  <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">
          ¡Hablemos!
        </div>
        <div class="col-12 col-md-4 descripcion">
          Contáctame para iniciar tu proyecto de desarrollo web.
        </div>
        <div class="col-12 col-md-4">
          <a href="mailto:juanllama160@gmail.com" target="_blank" rel="noopener noreferrer">
            <button type="button">  
              Contacto
              <i class="bi bi-envelope-check-fill"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center"> 
  <img class="footer-logo" src="../../../assets/img/programador.png" alt="Logo del portafolio">
  <a class="cv-texto" href="../../../assets/img/cv_dev_juan_llamasares_2022.pdf" download>Descargar CV</a>
  <p class="footer-texto text-center">Aprendo y creo todos los días.<br>Creemos un proyecto juntos.</p>
  <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://github.com/Juanllamasares" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/juan-l-46688b206/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/juanllamasares/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="mailto:Juanllama160@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Creado por Juan Llamasares (2022) &#169;</div>
</footer>
