<section id="educacion" class="educaciones seccion-clara">
  <h2 class="seccion-titulo">Educación   <i class="bi bi-plus-lg" routerLink="/newEdu" *ngIf="isLogged"></i></h2>
  <h3 class="seccion-descripcion">
    Estos son los cursos que realize y logre finalizar...
  </h3>

  <div
    id="educaciones-carrusel"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        *ngFor="let educacion of educaciones; let i = index"
        [ngClass]="{ 'carousel-item': true, 'active': i === 0 }"
      >
        <div class="container">
          <div>
            <i
              routerLink="/editEdu/{{educacion.idEdu}}"
              class="bi bi-pencil-square p-3 mb-2 fs-3"
              *ngIf="isLogged"
            ></i>
            <i
              (click)="deleteEdu(educacion.idEdu)"
              class="bi bi-trash3 mb-2 p-3 fs-3"
              *ngIf="isLogged"
            ></i>
          </div>
          <img
            class="educacion-imagen rounded-circle"
            src="{{educacion.imgEdu}}"
            alt="Foto educacion"
          />
          <p class="educacion-texto">{{educacion.descripcionEdu}}</p>
          <div class="educacion-info">
            <p class="cliente">{{educacion.tituloEdu}}</p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#educaciones-carrusel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#educaciones-carrusel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>
