<div class="educacion__container">
    <h2 class="edu__title">Educacion:</h2>
    <br>
  <img class="img-agregar" src="../../../assets/img/plus.png" alt="agregar" routerLink="/newEdu" *ngIf="isLogged"/>

  <div class="card-edu" *ngFor="let Educacion of educacion">
    <div class="title-edu-container">
        <h4>{{Educacion.tituloEdu}}</h4>
        <img routerLink="/editEdu/{{Educacion.idEdu}}" class="img-action" src="../../../assets/img/editar.png" alt="editar" *ngIf="isLogged">
        <img class="img-action" src="../../../assets/img/trash.png" alt="eliminar" *ngIf="isLogged" (click)="deleteEdu(Educacion.idEdu)">
    </div>
    <img src={{Educacion.imgEdu}} alt="" class="img__trabajo" />
    <p>
      {{Educacion.descripcionEdu}}
    </p>
  </div>
</div>
