<div class="educacion__container">
    <h2 class="ed__title">Educación:</h2>
    <br>
    <h4>Educacion 1:</h4>
    <img src="../../../assets/img/img_banner.jpg" alt="" class="img__educacion">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.</p>
    <h4>Educacion 2:</h4>
    <img src="../../../assets/img/img_banner.jpg" alt="" class="img__educacion">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.</p>
    <h4>Educacion 3:</h4>
    <img src="../../../assets/img/img_banner.jpg" alt="" class="img__educacion">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.
    </p>
</div>