<div class="header__container">
    <img src="../../../assets/Logo.png" alt="ArgPrograma-logo" class="img__logo">
    <h1 class="title">Bienvenido a mi Portfolio</h1>
    <div class="redes__container">
        <a href=""><img src=".../../../../../assets/github.png" alt="github-logo" class="img__redes"></a>
        <a href=""><img src="../../../assets/linkedin.png" alt="linkedin-logo" class="img__redes"></a>
    </div>
</div>
<div class="banner__container">
    <h2 class="banner__title">Juan Llamasares Desarrollador Full-Stack Jr</h2>
</div>
