<div class="header__container">
    <img src="../../../assets/img/Logo.png" alt="ArgPrograma-logo" class="img__logo">
    <h1 class="title">Bienvenido a mi Portfolio</h1>
    <div class="redes__container">
        <a href="https://github.com/Juanllamasares" target="_blank"><img src=".../../../../../assets/img/github.png" alt="github-logo" class="img__redes"></a>
        <a href="https://www.linkedin.com/in/juan-l-46688b206/" target="_blank"><img src="../../../assets/img/linkedin.png" alt="linkedin-logo" class="img__redes"></a>
        <a href="/login" (click)="login()" *ngIf="!isLogged"><img src="../../../assets/img/programador.png" alt="login" class="img__redes"></a>
        <a href="" (click)="onLogOut()" *ngIf="isLogged"><img src="../../../assets/img/cerrar-sesion.png" alt="login" class="img__redes"></a>
    </div>
</div>
<div class="banner__container">
    <h2 class="banner__title">{{Persona.nombre}} {{Persona.apellido}} {{Persona.profesion}}</h2>
</div>
