<div class="container-exp" *ngIf="experiencia">
    <form #f="ngForm" (ngSubmit)="onUpdate()" noValidate>
        <input type="text" placeholder="Titulo" id="tituloExp" name="tituloExp" [(ngModel)]="experiencia.tituloExp" required>
        <textarea placeholder="Descripción" id="descripcionExp" name="descripcionExp" [(ngModel)]="experiencia.descripcionExp" required></textarea>
        <label for="inputImg">Cambiar Imagen</label>
        <br>
        <input id="inputImg" type="file" accept=".png, .jpg, .jepg"  (change)="cargarImagen($event)">
        <br>
        <img src={{experiencia.imgExp}} alt="imagenExp">
        <br>
        <h4 *ngIf="cargando">Espere...</h4>
        <button *ngIf="!cargando" type="submit">Editar</button>
    </form>
</div>
