<div class="container" *ngIf="educacion">
    <form #f="ngForm" (ngSubmit)="onUpdate()" noValidate>
        <input type="text" placeholder="Titulo" id="tituloEdu" name="tituloEdu" [(ngModel)]="educacion.tituloEdu" required>
        <textarea placeholder="Descripción" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="educacion.descripcionEdu" required></textarea>
        <label for="inputImg">Cambiar Imagen</label>
        <br>
        <input id="inputImg" type="file" accept=".png, .jpg, .jepg"  (change)="cargarImagen($event)">
        <br>
        <img src={{educacion.imgEdu}} alt="imagenExp">
        <br>
        <h4 *ngIf="cargando">Espere...</h4>
        <button *ngIf="!cargando" type="submit">Editar</button>
    </form>
</div>
