<div class="container">
    <form #f="ngForm" (ngSubmit)="onCreate()" noValidate>
        <input type="text" placeholder="Titulo" id="tituloExp" name="tituloExp" [(ngModel)]="tituloExp" required>
        <textarea placeholder="Descripción" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required></textarea>
        <label for="inputImg">Elegir foto</label>
        <br>
        <input id="inputImg" type="file" accept=".png, .jpg, .jepg"  (change)="cargarImagen($event)">
        <br>
        <img src={{imgExp}} alt="imagenExp">
        <br>
        <button type="submit">Agregar</button>
    </form>
</div>
