.experiencia__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: rgba(5, 7, 12, .7);
    margin: 60px;
    border-radius: 30px;
    box-shadow: 0 0 10px 10px rgb(85, 17, 17);
    width: 90vw;
}
.exp__title{
    margin: 20px;
}

p{
    padding: 40px;
}

.img__trabajo{
    width: 150px;
    height: 100px;
    border-radius: 10%;
    margin-top: 20px;
}
