<div class="experiencia__container">
    <h2 class="exp__title">Experiencia:</h2>
    <br>
    <h4>Trabajo 1:</h4>
    <img src="../../../assets/img/img_banner.jpg" alt="" class="img__trabajo">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.</p>
    <h4>Trabajo 2:</h4>
    <img src="../../../assets/img/img_banner.jpg" alt="" class="img__trabajo">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.</p>
    <h4>Trabajo 3:</h4>
    <img src="../../../assets/img/img_banner.jpg" alt="" class="img__trabajo">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique vel, pariatur cum omnis, debitis dolor
        maxime, dolorem nulla quas alias fugiat cupiditate officia repellat adipisci aut. Dolorum inventore earum
        itaque.
    </p>
</div>